name: Build and push

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 0"

env:
  # renovate: datasource=repology depName=homebrew/postgresql@18 versioning=loose
  LATEST_POSTGRES_VERSION: "18.1"

jobs:
  base-images:
    # for security reason, we only build these images in our repository and on the main branch
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        flavor:
          - alpine
          - trixie
        pg_version:
          - "13"
          - "14"
          - "15"
          - "16"
          - "17"

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          file: "Dockerfile.${{ matrix.flavor }}"
          push: true
          platforms: linux/amd64,linux/arm64,linux/riscv64,linux/ppc64le,linux/s390x
          build-args: |
            "PGTARGET=${{ env.LATEST_POSTGRES_VERSION }}"
          target: "build-${{ matrix.pg_version }}"
          tags: "ghcr.io/calagopus-rs/pgautoupgrade:build-${{ matrix.pg_version }}-${{ matrix.flavor }}"
          cache-to: type=inline
          cache-from: type=registry,ref=ghcr.io/calagopus-rs/pgautoupgrade:build-${{ matrix.pg_version }}-${{ matrix.flavor }}

  target-images:
    runs-on: ubuntu-22.04
    needs: base-images
    # otherwise, it would skip the build entirely (because the base step does not run)
    if: always()
    env:
      # but still use our public caches in any case
      # they might be outdated, in which case a full rebuild will be triggered
      CACHE_FROM: |
        type=registry,ref=ghcr.io/calagopus-rs/pgautoupgrade:build-13-${{ matrix.operating_system.flavor }}
        type=registry,ref=ghcr.io/calagopus-rs/pgautoupgrade:build-14-${{ matrix.operating_system.flavor }}
        type=registry,ref=ghcr.io/calagopus-rs/pgautoupgrade:build-15-${{ matrix.operating_system.flavor }}
        type=registry,ref=ghcr.io/calagopus-rs/pgautoupgrade:build-16-${{ matrix.operating_system.flavor }}
        type=registry,ref=ghcr.io/calagopus-rs/pgautoupgrade:build-17-${{ matrix.operating_system.flavor }}
        type=registry,ref=ghcr.io/calagopus-rs/pgautoupgrade:${{ matrix.pg_target.PG_VERSION }}-${{ matrix.operating_system.flavor }}
        type=registry,ref=ghcr.io/calagopus-rs/pgautoupgrade:${{ matrix.pg_target.PG_VERSION }}-${{ matrix.operating_system.flavor }}${{ matrix.operating_system.OS_VERSION }}
        type=registry,ref=ghcr.io/calagopus-rs/pgautoupgrade:${{ matrix.pg_target.PG_VERSION }}-${{ matrix.operating_system.alias }}

    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        operating_system:
          - flavor: "alpine"
            # renovate: datasource=docker depName=alpine versioning=docker
            OS_VERSION: "3.22"
            alias: "alpine"
          - flavor: "trixie"
            alias: "debian"
        pg_target:
          - # renovate: datasource=repology depName=homebrew/postgresql@13 versioning=loose
            PG_VERSION: "13.23"
          - # renovate: datasource=repology depName=homebrew/postgresql@14 versioning=loose
            PG_VERSION: "14.20"
          - # renovate: datasource=repology depName=homebrew/postgresql@15 versioning=loose
            PG_VERSION: "15.15"
          - # renovate: datasource=repology depName=homebrew/postgresql@16 versioning=loose
            PG_VERSION: "16.11"
          - # renovate: datasource=repology depName=homebrew/postgresql@17 versioning=loose
            PG_VERSION: "17.7"
          - # renovate: datasource=repology depName=homebrew/postgresql@18 versioning=loose
            PG_VERSION: "18.1"

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: pgautoupgrade/pgautoupgrade
          flavor: |
            latest=false
          # add a .0 to each Postgres version so it is compliant with semantic version
          # note that the .0 never ends up on an actual tag
          tags: |
            type=semver,pattern={{major}},value=${{ matrix.pg_target.PG_VERSION }}.0,suffix=-${{ matrix.operating_system.flavor }}
            type=semver,pattern={{major}}.{{minor}},value=${{ matrix.pg_target.PG_VERSION }}.0,suffix=-${{ matrix.operating_system.flavor }}
            type=semver,pattern={{major}},value=${{ matrix.pg_target.PG_VERSION }}.0,suffix=-${{ matrix.operating_system.flavor }}${{ matrix.operating_system.OS_VERSION }}
            type=semver,pattern={{major}}.{{minor}},value=${{ matrix.pg_target.PG_VERSION }}.0,suffix=-${{ matrix.operating_system.flavor }}${{ matrix.operating_system.OS_VERSION }}
            type=semver,pattern={{major}},value=${{ matrix.pg_target.PG_VERSION }}.0,suffix=-${{ matrix.operating_system.alias }}
            type=semver,pattern={{major}}.{{minor}},value=${{ matrix.pg_target.PG_VERSION }}.0,suffix=-${{ matrix.operating_system.alias }}

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          file: "Dockerfile.${{ matrix.operating_system.flavor }}"
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            "PGTARGET=${{ matrix.pg_target.PG_VERSION }}"
          cache-to: type=inline
          cache-from: "${{ env.CACHE_FROM }}"

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Push image
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v6
        with:
          file: "Dockerfile.${{ matrix.operating_system.flavor }}"
          platforms: linux/amd64,linux/arm64,linux/riscv64,linux/ppc64le,linux/s390x
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            "PGTARGET=${{ matrix.pg_target.PG_VERSION }}"
          push: true
          cache-to: type=inline
          cache-from: "${{ env.CACHE_FROM }}"

      - name: Push latest image for each supported OS
        if: github.ref == 'refs/heads/main' && matrix.pg_target.PG_VERSION == env.LATEST_POSTGRES_VERSION
        uses: docker/build-push-action@v6
        with:
          file: "Dockerfile.${{ matrix.operating_system.flavor }}"
          platforms: linux/amd64,linux/arm64,linux/riscv64,linux/ppc64le,linux/s390x
          tags: |
            "ghcr.io/calagopus-rs/pgautoupgrade:${{ matrix.operating_system.flavor }}"
            "ghcr.io/calagopus-rs/pgautoupgrade:${{ matrix.operating_system.alias }}"
          build-args: |
            "PGTARGET=${{ matrix.pg_target.PG_VERSION }}"
          push: true
          cache-to: type=inline
          cache-from: "${{ env.CACHE_FROM }}"

      - name: Push general latest image
        if: github.ref == 'refs/heads/main' && matrix.pg_target.PG_VERSION == env.LATEST_POSTGRES_VERSION && matrix.operating_system.flavor == 'alpine'
        uses: docker/build-push-action@v6
        with:
          file: "Dockerfile.${{ matrix.operating_system.flavor }}"
          platforms: linux/amd64,linux/arm64,linux/riscv64,linux/ppc64le,linux/s390x
          tags: |
            "ghcr.io/calagopus-rs/pgautoupgrade:latest"
          build-args: |
            "PGTARGET=${{ matrix.pg_target.PG_VERSION }}"
          push: true
          cache-to: type=inline
          cache-from: "${{ env.CACHE_FROM }}"
